In [15]:
import pandas as pd
df = pd.DataFrame({
  'first': ["Kevin", "Abby", "John"],
  'last': ["Nguyen", "Wendell", "Nguyen"],
  'email': ["knguyen44@gmail.com", "abbyWendel@outlook.com", "JNguyen@gmail.com"]
})
df2 = pd.DataFrame({
    'first': ['Tony', 'Steve'], 
    'last': ['Stark', 'Rogers'], 
    'email': ['IronMan@avenge.com', 'Cap@avenge.com']
})

'''
+ Ex. 1
1. We want to combine the 'first' and 'last' into a single new column called 'name'. 
2. Let's remove our 'first' and 'last' columns. Then after checking the changes, do inplace=true to save changes to 
the original data frame.
3. Now let's split the 'full_name.' column into two columns. Now each value in
the series is an array of [firstName, lastName]. After doing 'expand', you're just saying 
create columns for the split results of the array. Now we've added columns after the split

4. Let's add a single row into our data frame using the append method. Any values that aren't 
passed will be treated as NaN.

5. Now let's combine df and df2. The reason we do ignore_index is so that the row indices from df2 aren't 
taken into account, and df just generates new indices for those new rows instead of them keeping their old ones.

- ignore_index = false; indices from old data frame carry over and mess up our sequence
0,1,2,0,1,2

- ignore_index = true; indices from old data frame are ignored and we generate new ones in our returned concatenated df.
0,1,2,3,4,5

6. To remove rows, pass in the row index values you want to drop. So we just dropped the row at the fourth index position.

7. Now let's say we wanted to drop all rows that met a certain condition. We could easily do this by creating a filter 
that has a condition and will contain the index values of the ones that don't meet the condition!
'''

# 1
df["full_name"] = df["first"] + " " + df["last"] 

# 2 
df.drop(columns=['first','last'], inplace=True)

# 3
df[['first','last']] = df["full_name"].str.split(' ', expand=True);

# 4. adds new row into our data frame
new_row = pd.DataFrame([{"first": "Tony", "last": "Juliana", "email": "TJ@gmail.com"}])
df = pd.concat([df, new_row], ignore_index=True)

# 5
df = pd.concat([df, df2], ignore_index=False) # df.append(df2, ignore)

# 6
df.drop(index=4, inplace=True)

# 7
lastFilter = df["last"] == "Doe" # series of boolean values 
lastDf = df[lastFilter] # data frame that contains all rows, whose last name was doe
df.drop(index=lastDf.index, inplace=True) # Return a series of index values for hte rows with the last name of 'Doe'. Save changes to original data frame

                    email     full_name  first     last
0     knguyen44@gmail.com  Kevin Nguyen  Kevin   Nguyen
1  abbyWendel@outlook.com  Abby Wendell   Abby  Wendell
2       JNguyen@gmail.com   John Nguyen   John   Nguyen
3            TJ@gmail.com           NaN   Tony  Juliano
0      IronMan@avenge.com           NaN   Tony    Stark
1          Cap@avenge.com           NaN  Steve   Rogers